body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(39, 3, 3);
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
  }
  
  .jogo-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .forca {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    font-size: 32px;
  }
  
  .forca-parte {
    display: none;
  }
  
  .letras-erradas-container {
    font-size: 32px;
  }
  
  .letras-erradas-container span {
    margin: 0 5px;
  }
  
  .palavra-secreta-container {
    font-size: 60px;
  }
  
  .aviso-palavra-repetida {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -55px;
    transition: transform 0.3s ease-in-out;
  }
  
  .aviso-palavra-repetida p {
    margin: 0;
  }
  
  .aviso-palavra-repetida.show {
    transform: translateY(-50px);
  }
  
  .palavra-secreta-container span {
    margin: 0 5px;
  }
  
  .popup-container {
    background-color: rgba(10, 0, 0, 0.938);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    background :url("perdeu.jpg");
    background-position: center;
  
    
    
  }
  
  .popup {
    background: #00070500;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .popup button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
  }
  